.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    border-radius: 30px;
    font-family: sans-serif;
}

#si{
    left: 20%;
    transform: translateY(-50%) translateX(-20%);
}

#no{
    left: 80%;
    transform: translateY(-50%) translateX(-80%);
}

#pregunta{
    left: 32%;
    top: 10%;
    position: absolute;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
}

#mensaje{
    left: 28%;
    top: 20%;
    right: 25%;
    position: absolute;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

section {
    background-image: url(../../../assets/img/everton-vila-AsahNlC0VhQ-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
}